@import url(base.css);
html {
  scroll-behavior: smooth;
}
header {
  padding: 30px 0;
}
header .head-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .head-logo div img {
  width: 100%;
  height: 100%;
}
header .head-logo .menu {
  display: none;
}
header .nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
header .nav ul li a {
  color: var(--subcolor);
  font-family: var(--Groteskfont);
  font-weight: bold;
}
header .nav ul li .selected {
  color: var(--maincolor);
}
header .auth ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .head .head-logo .menu {
    display: block;
  }
}
.joinOurNewslettet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../images/join-our-Newsletter/signup.png);
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
}
.joinOurNewslettet .newsletter-signup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.joinOurNewslettet .newsletter-signup h2 {
  font-family: var(--Poppinsfont);
  text-align: center;
  font-size: 2.5rem;
  filter: none;
}
.joinOurNewslettet .newsletter-signup p {
  text-align: center;
  font-size: 1.5rem;
  filter: none;
}
.joinOurNewslettet .newsletter-signup p,
.joinOurNewslettet .newsletter-signup .email {
  font-family: var(--interfont);
}
.joinOurNewslettet .newsletter-signup .email {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  filter: none;
}
.joinOurNewslettet .newsletter-signup .email .Emailaddress input {
  background-color: transparent;
  border: none;
}
.joinOurNewslettet .newsletter-signup .email .signup button {
  padding: 0 10px;
}
.theform {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 600px;
  margin: auto;
}
.theform div {
  display: flex;
  flex-direction: column;
}
form button {
  margin-top: 1rem;
}
@media screen and (max-width: 830px) {
  .theform {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .joinOurNewslettet {
    background-color: #f2f4f6;
    background-image: none;
  }
  .joinOurNewslettet .newsletter-signup .email {
    font-size: 1em;
  }
  .joinOurNewslettet .newsletter-signup h1 {
    font-size: 2em;
  }
  .joinOurNewslettet .newsletter-signup p {
    font-size: 1em;
  }
}

.footer {
  background-color: #141718;
  color: white;
  padding: 60px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.footer .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--interfont);
  flex-wrap: wrap;
}
.footer .navbar .navbar-brand {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.footer .navbar .navbar-menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer .navbar .navbar-menu ul li a {
  color: white;
  font-family: var(--interfont);
}
.footer .site-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 10px 0;
  font-family: var(--Poppinsfont);
  flex-wrap: wrap;
}
.footer .site-footer .footer-info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer .site-footer .footer-info a {
  font-family: var(--Poppinsfont);
  color: white;
}
.footer .site-footer .footer-social ul {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.footer .navbar .navbar-brand span,
.footer .site-footer .footer-info span {
  color: #e8ecef;
}
@media screen and (max-width: 860px) {
  .footer .site-footer {
    gap: 30px;
  }
  .footer .site-footer .footer-info {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .site-footer .footer-social {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .site-footer .footer-info .gray {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer .site-footer .footer-info .policy {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 830px) {
  /* the first section  */

  .footer .navbar {
    gap: 30px;
  }
  .footer .navbar .navbar-brand {
    width: 100%;
    justify-content: center;
  }
  .footer .navbar .navbar-menu {
    width: 100%;
  }
  .footer .navbar .navbar-menu ul {
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 550px) {
  .footer .navbar .navbar-brand div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .navbar .navbar-brand .dellet {
    display: none;
  }
  .footer .navbar .navbar-menu ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .navbar .navbar-brand div img {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
}
